<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nikita.seawind">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/seawind"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/seawind"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".CustomerLogin" />
        <activity android:name=".StaffLogin" />
        <activity android:name=".menu" />
        <activity android:name=".Temp" />
        <activity
            android:name=".navigation_drawer"
            android:label="SeaWind"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutUs" />
        <activity android:name=".ContactUs" />
        <activity android:name=".customer_menu" />
        <activity android:name=".Manager" />
        <activity android:name=".thankyou"></activity>
    </application>

</manifest>